.Container{
    position: relative;
    width: 100px;
    height: 100px;
}

.square{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: green;
}

.circle{
    position: absolute;
    top: 70px;
    left: 70px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    border-style: solid;
}